<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style.css">
    <title> mon premier template</title>
</head>
<body>
    

        <% include ./partials/head %>
        <h1><%=title%></h1>
        
        <div>
            Etes vous plutot film ou serie? peu import, vous trouverez voutre boheur dans les deux cas
        </div>
        <% include ./partials/footer %>
        </div>
    
</body>
</html>