<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mouvies-details</title>
</head>
<body>
    <h1>
        mouvies-details
    </h1>
    <p>vous etes sur la page <%= mouviesid %></p>
</body>
</html>